@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;1,600&display=swap');

:root{
    --background-color:#cbbbac;
    --text-color: #252626;
    --subtext-color: #252626;
    --button-color:#262527;
    --card-color:white;
    --logo-size: 41px;
    --heading-size: 20px;
    --title-size: 112px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}
body{
    width: 90%;
    margin: auto;
    background: var(--background-color);
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom:2px double var(--button-color) ;
    height: 5rem;
}
.header__logo{
    font-size: var(--logo-size);
    font-weight: 600;
}
.navlist{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navlist li{
    list-style-type: none;
    padding:0 1rem;

}
.navlist li a{
    text-decoration: none;
    color: var(--text-color);
    font-weight: 600;
}
.cart{
    display: flex;
    justify-content: space-around;
    width: 5rem;
    align-items: center;
    
}
.cart h2{
    font-weight: 500;
}

.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    min-height: 100vh;
}
.hero__left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 55%;
    padding-left: 2rem;
}
.hero__heading{
    color: var(--subtext-color);
    font-size: var(--heading-size);
    font-weight: 300;
}
.hero__title{
    font-size: var(--title-size);
    font-weight: 400;
    

}
.search{
    border: none;
    outline: none;
    padding: 2rem 1rem;
    width: 90%;
    border-radius: 48px;
    background: transparent;
    border: 2px solid black;
    font-weight: 500;
}
.hero__right{
    background: url(https://images.unsplash.com/photo-1491349174775-aaafddd81942?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=387&q=80);
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    height: 43rem;
    width: 27rem;
    border-radius: 190px;
    text-align: left;
}

.project-cards{
    display:flex;
    justify-content: center;
    align-items: center;
    /* margin: auto; */
    flex-wrap: wrap;
    flex-direction:row;

}


.card{
    margin: 1rem;
    display: grid;
    flex-direction: column;
    height: 26rem;
    width: 26rem;
    /* box-shadow: rgb(0 0 0 / 10%) 0px 10px 50px; */
    padding: 5rem 2rem 2rem 2rem;
    border-radius: 4px;
     color: var(--card-color);
}

.card-1{
  background:url(https://images.unsplash.com/photo-1601058277522-3ffe11ef66b2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
}
.card-2{
  background:url(https://images.unsplash.com/photo-1534452203293-494d7ddbf7e0?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1172&q=80);
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
}
.card-3{
  background:url(https://images.unsplash.com/photo-1607082348824-0a96f2a4b9da?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
}


.card-1:hover{
  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset; */
 /* position: relative; */
/* transition: all 0.25s ease-in-out 0s; */
}

